@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<!doctype html>
<html lang="zxx">

<body>
 <!--/inner-page-->
  <section class="w3l-breadcrumb">
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li><a href="index.html">Inicio</a></li>
        <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>Contactanos</li>
      </ul>
    </div>
  </section>
  <!--//inner-page-->
 <!-- /contact-section -->
 <section class="wthree-row py-5 about-main" id="contact">
  <div class="container py-lg-5 py-md-4 py-2">
      <div class="row">
          <div class="col-lg-6 mb-lg-0 mb-lg-5">
            <div class="title-content text-left">
              <h6 class="title-subhny mb-2"><span>Póngase en contacto con nosotros</span></h6>
              <h3 class="title-w3l">Hablemos de cualquier consulta o servicios</h3>
            </div>
           
          </div>
          <div class="col-lg-6 pl-lg-5">
              <p class="pt-4">Estamos comprometidos con la seguridad de nuestros clientes y empleados y hemos actualizado nuestras medidas de seguridad.
                  medidas de seguridad. Creemos en estándares de diseño simples, creativos, modernos y flexibles con un enfoque Retina y
                  Retina y Responsive.</p>
          </div>
      </div>
      <div class="d-grid contact my-md-5 my-4 pt-lg-3">
          <div class="contact-info-left d-grid text-center">
              <div class="contact-info">
                  <span class="fa fa-home" aria-hidden="true"></span>
                  <h4>Dirección de contacto</h4>
                  <p>Calle: 13, Esquina, 30 - 56, Bogotá.</p>
              </div>
              <div class="contact-info">
                  <span class="fa fa-envelope-o" aria-hidden="true"></span>
                  <h4>Dirección de correo</h4>
                  <p><a href="mailto:contact@mail.com" class="email">contacto@mail.com</a></p>
                  <p><a href="mailto:support@mail.com" class="email">sopote@mail.com</a></p>
              </div>
              <div class="contact-info">
                <span class="fa fa-phone" aria-hidden="true"></span>
                  <h4>Telefonos de contacto</h4>
                  <p><a href="tel:+12 534 891 4364">+57 322 891 4364</a></p>
                  <p><a href="tel:+44 987 654 3211">+57 310 654 3211</a></p>
              </div>
              <div class="contact-info">
                  <span class="fa fa-clock-o" aria-hidden="true"></span>
                  <h4>Horarios de apertura</h4>
                  <p>Lun-Vier: 8 AM - 5 PM</p>
                  <p>Sab-Dom: Cerrado</p>
              </div>
          </div>
      </div>
      <div class="map-content-9 pt-lg-5">
          <h5 class="mb-sm-4 mb-3">Póngase en contacto con nosotros. Estamos aquí para ayudarle</h5>
          <form action="https://sendmail.w3layouts.com/submitForm" method="post">
              <div class="twice-two">
                  <input type="text" class="form-control" name="w3lName" id="w3lName" placeholder="Nombre" required="">
                  <input type="email" class="form-control" name="w3lSender" id="w3lSender" placeholder="Correo" required="">
              </div>
              <div class="twice">
                  <input type="text" class="form-control" name="w3lSubject" id="w3lSubject" placeholder="Asunto" required="">
              </div>
              <textarea name="w3lMessage" class="form-control" id="w3lMessage" placeholder="Mensaje" required=""></textarea>
              <div class="text-right">
                  <button type="submit" class="btn btn-primary btn-style mt-4 d-sm-inline d-block">Enviar mensaje</button>
              </div>
          </form>
      </div>
  </div>
</section>
<!-- //contact block -->
<div class="map-iframe">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d341825.9794467158!2d-96.0889!3d30.3875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864715c77a43c021%3A0x9a5762f6b8c6d7db!2sNavasota%2C%20TX%2C%20USA!5e0!3m2!1sen!2s!4v1621780800819!5m2!1sen!2s" 
    width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="true" tabindex="0">
    </iframe>

</div>
<!-- //contact-section -->
 
<!-- //copyright -->
<!-- Template JavaScript -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/theme-change.js"></script>
<!--/MENU-JS-->
<script>
  $(window).on("scroll", function () {
    var scroll = $(window).scrollTop();

    if (scroll >= 80) {
      $("#site-header").addClass("nav-fixed");
    } else {
      $("#site-header").removeClass("nav-fixed");
    }
  });

  //Main navigation Active Class Add Remove
  $(".navbar-toggler").on("click", function () {
    $("header").toggleClass("active");
  });
  $(document).on("ready", function () {
    if ($(window).width() > 991) {
      $("header").removeClass("active");
    }
    $(window).on("resize", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
    });
  });
</script>
<!--//MENU-JS-->

<script src="assets/js/bootstrap.min.js"></script>

</body>

</html>