@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p1>Utilice esta página para detallar la política de privacidad de su sitio web. con el dominio y fines educativos del programa Misión TIC 2022 - P3 Grupo 62 Desarrollo de Software - Ciclo3
<br>
       </br>
Instructor: ESCALLON PORTILLA ANDRES FELIPE
<br>
       </br>
Estudiantes: 
<br>
       </br>
Ximena
<br>
       </br>
Wilder Parra
<br>
       </br>
Cristian Quiza</p1>

