@page
@model PrivacyModel
@{ }
 <!--/inner-page-->
  <section class="w3l-breadcrumb">
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li><a href="index.html">Inicio</a></li>
        <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Privacidad</li>
      </ul>
    </div>
  </section>
  <!--//inner-page-->

  <div class="container py-lg-5 py-md-4 py-2">
      <div class="row">
          <div class="col-lg-6 mb-lg-0 mb-lg-5">
            <div class="title-content text-left">
              <h6 class="title-subhny mb-2"><span>ST Genetics</span></h6>
              <h3 class="title-w3l">Política y Privacidad - Dominio ST Genetics</h3>
            </div>
           
          </div>
          <div class="col-lg-6 pl-lg-5">
              <p class="pt-4">Utilice esta página para detallar la política de privacidad de su sitio web.
              con el dominio de ST Genetics</p>
              <p class="pt-4">Prueba ST Genetics.</p>
              <p class="pt-3">Autor:</p>
              <p class="pt-4"> Cristian David Quiza</p>
          </div>
      </div>
   </div>
      